.container {
    height: 50vh;
    width: 100%;
    overflow: visible;
    position: relative;
    display: flex;
    align-items: center;
}

.titleContainer {
    height: 75%;
    width: 27vw;
    position: absolute;
    z-index: 2;
}

.underline {
    position: absolute;
    z-index: 2;
    border-bottom: 3px solid var(--yellow);
    width: 37vw;
    margin-bottom: 7%;
    left: -10vw;
}

.background {
    height: 100%;
    width: 110vw;
    background-color: var(--dark-gray);
    margin-left: -10vw;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gradient {
    height: 15%;
    width: 100%;
    background: linear-gradient(180deg, rgba(15, 15, 15, 0.5) 0%, rgba(30, 31, 33, 0) 75%);
}

.textContainer {
    width: 41vw;
    max-height: 75%;
    z-index: 2;
    margin-right: 7vw;
    margin-left: auto;
    display: flex;
    align-items: center;
    font-family: var(--text-font);
    color: white;
    font-weight: 200;
    line-height: 1.5em;
    font-size: 24px;
}