.container {
    height: 50vh;
    width: 100%;
    overflow: visible;
    position: relative;
}

.background {
    height: 100%;
    width: 110vw;
    background-color: var(--dark-gray);
    margin-left: -10vw;
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gradient {
    height: 15%;
    width: 100%;
    background: linear-gradient(180deg, rgba(15, 15, 15, 0.5) 0%, rgba(30, 31, 33, 0) 75%);
}