.container {
    overflow: visible;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    position: relative;
    max-height: 6rem;
}

.text {
    text-align: left;
    line-height: 1.5rem;
}

@media screen and (min-width: 1400px) {
    .text {font-size: 1.25rem; line-height: 1.75rem;}
}

.hline {
    border-bottom: var(--stroke) solid var(--yellow);
    position: absolute;
    right: -0.25rem;
    width: 100vw;
    bottom: 1rem;
    z-index: 100;
}