 .logo {
    width: 50%;
}

.navbarContainer {
    top: 0;
    margin: 1rem 0 0 0 ;
    max-width: 100%;
    z-index: 50;
}

.searchBar {
    background-color: var(--light-gray);
    border-radius: 10px;
    padding: 0.75rem 0rem 0.75rem 1rem;
    font-size: 0.75rem;
    color: var(--lighter-gray);
    font-weight: 400;
}

.hamburger {
    height: 1.75rem;
    padding: 8px 10px;
    margin: 0;
    color: var(--yellow);
    border: var(--stroke) solid var(--light-gray);
    border-radius: 10px;
}

.burgerContainer {
    padding-right: 0;
}