 .logo {
    width: 50%;
    cursor: pointer;
    transition: width .3s;
}

.logo:hover {
    width: 60%;
    transition: width .3s;
}

.navbarContainer {
    top: 0;
    margin: 1rem 0 0 0 ;
    max-width: 100%;
    z-index: 50;
}

.searchBar input {
    background-color: var(--light-gray);
    border-radius: 10px;
    padding: 0.75rem 1rem;
    font-size: 0.75rem;
    font-family: var(--text-font);
    color: var(--lighter-gray);
    outline: 0px solid var(--light-gray);
    font-weight: 400;
    flex-grow: 1;
    border: 0;
    cursor: pointer;
    transition: all .3s;
}

.searchBar input:focus {
    border: 0;
    outline: 2px solid var(--light-gray);
    background-color: var(--dark-gray);
    color: white;
    transition: all .3s;
}

.hamburger {
    height: 1.75rem;
    padding: 8px 10px;
    margin: 0;
    color: var(--yellow);
    border: var(--stroke) solid var(--light-gray);
    border-radius: 10px;
}

.burgerContainer {
    padding-right: 0;
}

.navpage {
    cursor: pointer;
    flex-direction: column;
}

.navpage::after {
    content: '';
    display: block;
    margin-top: 3px;
    width: 0;
    height: 2px;
    background: var(--yellow);
    transition: width .3s;
}

.navpage:hover::after{
    width: 100%;
}