@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
:root {
  --bg-gray: #191919;
  --text-font: 'Geologica', sans-serif;
  --light-gray: #343435;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: var(--bg-gray);
}