@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-gray: #191919;
  --text-font: 'Geologica', sans-serif;
  --design-font: 'Noto Serif Display', serif;
  --light-gray: #343435;
  --yellow: #FFD540;
  --dark-gray: #1E1F21;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-gray);
}

.web-container {
  width: 83vw;
  display: flex;
  margin: auto;
  margin-top: 0;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}