@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  z-index: 10;
}

:root {
  --bg-gray: #191919;
  --text-font: 'Geologica', sans-serif;
  --design-font: 'Noto Serif Display', serif;
  --light-gray: #343435;
  --lighter-gray: #8b8b8f;
  --yellow: #FFD540;
  --dark-gray: #1E1F21;
  --base-hspacer: 1rem;
}


html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Geologica', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


[class*="col-"] {
  float: left;
  padding: 10px;
  border: 0px solid red;
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/*
.row::after {
  content: "";
  clear: both;
}
*/

[class*="web-container"] {
  display: flex;
  margin: auto;
  margin-top: 0;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.container {
  width: 100%;
  margin: 1rem 0 1rem 0;
}

.real-center {
  align-items: center;
  justify-content: center;
}

.line {
  border-left: var(--stroke) solid var(--yellow);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.divider {
  position: absolute;
  border-top: var(--stroke) solid var(--yellow);
  top: 0;
  right: -50vw;
  z-index: 100;
  width: 150vw;
}

.vcenter {align-items: center;}
.hcenter {justify-content: center;}
.align-end {justify-content: end;}

.title-design {
    color: var(--yellow);
    font-family: var(--design-font);
    font-weight: 700;
    padding: 0.25em 0 0.5em 0;
}

.title-design span {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: var(--yellow);
  -webkit-text-stroke-width: var(--stroke);
}

.text {
  font-size: 1rem;
  font-family: var(--text-font);
  color: white;
}

.fill-yellow {background-color: var(--yellow);}

.text-date {
  font-size: 1rem;
  font-weight: 800;
  color: var(--dark-gray);
  text-align: center;
}

.text-bold {font-weight: 700;}
.text-yellow {color: var(--yellow)}

.hspacer-1 {padding: calc(var(--base-hspacer) * 3) 0}
.hspacer-2 {padding: calc(var(--base-hspacer) * 2.5) 0}
.hspacer-3 {padding: calc(var(--base-hspacer) * 2) 0}
.hspacer-4 {padding: calc(var(--base-hspacer) * 1.5) 0}
.hspacer-5 {padding: calc(var(--base-hspacer) * 1) 0}
.hspacer-6 {padding: calc(var(--base-hspacer) * 0.5) 0}

[class*="hspacer-"] {
  float: left;
  width: 100vw;
  border: 0px solid red;
  display: flex;
}


@media only screen and (min-width: 1400px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .offset-1 {margin-left: 8.33%;}
  .offset-2 {margin-left: 16.66%;}
  .offset-3 {margin-left: 25%;}
  .offset-4 {margin-left: 33.33%;}
  .offset-5 {margin-left: 41.66%;}
  .offset-6 {margin-left: 50%;}
  .offset-7 {margin-left: 58.33%;}
  .offset-8 {margin-left: 66.66%;}
  .offset-9 {margin-left: 75%;}
  .offset-10 {margin-left: 83.33%;}
  .offset-11 {margin-left: 91.66%;}
  .offset-12 {margin-left: 100%;}
  .web-container {width: 70vw;}
  .header-1 {font-size: 5rem;}
  .header-2 {font-size: 4rem}
  .header-3 {font-size: 3rem;}
  .header-4 {font-size: 2.5rem;}
  .header-5 {font-size: 2rem;}
  .header-6 {font-size: 1.5rem} 
  :root {
    --stroke: 4px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1399px) {
  .col-l-1 {width: 12.5%;}
  .col-l-2 {width: 25%;}
  .col-l-3 {width: 37.5%;}
  .col-l-4 {width: 50%;}
  .col-l-5 {width: 62.5%;}
  .col-l-6 {width: 75%;}
  .col-l-7 {width: 87.5%;}
  .col-l-8 {width: 100%;}
  .offset-l-1 {margin-left: 12.5%;}
  .offset-l-2 {margin-left: 25%;}
  .offset-l-3 {margin-left: 37.5%;}
  .offset-l-4 {margin-left: 50%;}
  .offset-l-5 {margin-left: 62.5%;}
  .offset-l-6 {margin-left: 75%;}
  .offset-l-7 {margin-left: 87.5%;}
  .offset-l-8 {margin-left: 100%;}
  .web-container {width: 80vw;}
  .header-1 {font-size: 4rem;}
  .header-2 {font-size: 3rem}
  .header-3 {font-size: 2.5rem;}
  .header-4 {font-size: 2rem;}
  .header-5 {font-size: 1.5rem;}
  .header-6 {font-size: 1rem}  
  :root {
    --stroke: 3px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .col-md-1 {width: 16.66%;}
  .col-md-2 {width: 33.33%;}
  .col-md-3 {width: 50%;}
  .col-md-4 {width: 66.66%;}
  .col-md-5 {width: 83.33%;}
  .col-md-6 {width: 100%;}
  .offset-md-1 {margin-left: 16.66%;}
  .offset-md-2 {margin-left: 33.33%;}
  .offset-md-3 {margin-left: 50%;}
  .offset-md-4 {margin-left: 66.66%;}
  .offset-md-5 {margin-left: 83.33%;}
  .offset-md-6 {margin-left: 100%;}
  .header-1 {font-size: 4rem;}
  .header-2 {font-size: 3rem}
  .header-3 {font-size: 2.5rem;}
  .header-4 {font-size: 2rem;}
  .header-5 {font-size: 1.5rem;}
  .header-6 {font-size: 1rem}  
  .web-container {width: 80vw;}
  :root {
    --stroke: 3px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .col-s-1 {width: 33.33%;}
  .col-s-2 {width: 66.66%;}
  .col-s-3 {width: 100%;}
  .offset-s-1 {margin-left: 33.33%;}
  .offset-s-2 {margin-left: 66.66%;}
  .offset-s-3 {margin-left: 100%;}
  .header-1 {font-size: 3rem;}
  .header-2 {font-size: 2.5rem}
  .header-3 {font-size: 2rem;}
  .header-4 {font-size: 1.5rem;}
  .header-5 {font-size: 1.25rem;}
  .header-6 {font-size: 1rem}  
  .web-container {width: 75vw;}
  :root {
    --stroke: 2px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 350px) {
  .header-1 {font-size: 3rem;}
  .header-2 {font-size: 2.5rem}
  .header-3 {font-size: 2rem;}
  .header-4 {font-size: 1.5rem;}
  .header-5 {font-size: 1.25rem;}
  .header-6 {font-size: 1rem}  
  :root {
    --stroke: 1px;
    font-size: 16px;
  }
}

.item-container {
  background-color: var(--light-gray);
  border-radius: 1rem;
  min-height: 4rem;
  display: flex;
  padding: 0 1rem;
  cursor: pointer;
  transition: background-color .3s;
}

.image-container {
  height: 4rem;
  aspect-ratio: 1/1;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.image-container .icon {
  height: 60%;
  color: var(--yellow);
  transition: color .3s;
}

.text-container {
  flex-grow: 1;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 1rem 1rem;
  transition: color .3s;
}

.item-container:hover {
  background-color: var(--yellow);
  transition: background-color .3s;
}
.item-container:hover .image-container .icon {
  color: var(--dark-gray);
  transition: color .3s;
}
.item-container:hover .text-container {
  color: var(--dark-gray);
  transition: color .3s;
}

.bullet-line {
  border-top: solid var(--yellow);
  width: 1.5rem;
  margin-top: 0.25rem;
}

.background {
  height: 100%;
  width: 150vw;
  background-color: var(--dark-gray);
  margin-left: -25vw;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
}

.gradient {
  height: 15%;
  width: 100%;
  background: linear-gradient(180deg, rgba(15, 15, 15, 0.5) 0%, rgba(30, 31, 33, 0) 75%);
}

.button-yellow {
  background-color: var(--yellow);
  border-radius: 0.75rem;
  padding: 1rem 0;
  color: var(--dark-gray);
  font-weight: 800;
  font-size: 1rem;
  outline: 0px solid var(--yellow);
  transition: all .3s;
}

.button-yellow:hover {
  background-color: rgba(0,0,0,0);
  color: var(--yellow);
  outline: 2px solid var(--yellow);
  transition: all .3s;
}

.unselectable {user-select: none;}