.container {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
}

.text-container {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    line-height: 2.75rem;
    padding-right: 0.25rem;
    pointer-events: none;
}

.profile-container {
    position: relative;
    height: 45vh;
    pointer-events: none;
}

.img-container {
    overflow-y: hidden;
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;

    img {
        height: 100%;
        width: auto;
        transform: scaleX(-1);
    }
}

.socials {
    color: $yellow;
    height: 1.5rem;
    z-index: 150;
    cursor: pointer;
    pointer-events: auto;
    transition: height .3s;

    &:hover {
        height: 1.75rem;
        transition: height .3s;
    }
}

.socials-desktop {
    color: $yellow;
    height: 2rem;
    z-index: 150;
    pointer-events: auto;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        height: 2.25rem;
        transition: all .3s;
    }
}

.line-container {
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    right: -1.5rem;
    top: 0;
    padding: 0 0 0 0;
    z-index: 50;
    min-width: 2.75rem;
}

.contact-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 1rem 0;
}

.hbline {
    flex-grow: 1;
    height: 100%;
    z-index: 100;
}

@media only screen and (max-width: 470px) {
    .text-container {
        line-height: 2.25rem;
        padding-right: 0;
    }
    .profile-container {
        height: calc(35vh - 5vw);
    }
}

@media only screen and (min-width: 470px) and (max-width: 571px){
    .text-container {
        line-height: 2.25rem;
        align-items: start;
    }
    .profile-container {
        margin-top: -15vw; 
        height: calc(25vh + 20vw);
    }
}

@media only screen and (min-width: 572px) and (max-width: 767px){
    .text-container {
        line-height: 2.25rem;
        align-items: start;
    }
    .profile-container {
        margin-top: -20vw; 
        min-height: 250px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .text-container {
        line-height: 2.75rem;
        padding-right: 0;
        align-items: start;
    }
    .profile-container {
        min-height: 480px;
        max-height: 500px;
        margin-top: -25vw;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1399px){
    .text-container {
        line-height: 3.25rem;
        padding: 4rem 0;
    }
    .profile-container {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100%;
    }
}

@media only screen and (min-width: 1400px){
    .text-container {
        line-height: 4rem;
        padding-bottom: 5rem;
    }
    .profile-container {
        height: 75vh;
    }
}



