$bg-gray: #191919;
$light-gray: #343435;
$lighter-gray: #8b8b8f;
$yellow: #FFD540;
$dark-gray: #1E1F21;
$main-font: 'Geologica', sans-serif;
$display-font: 'Noto Serif Display', serif;
$base-hspacer: 1rem;